<%= form_with url: helpers.documents_path,
              method: :get,
              class: "app-c-content-block-manager-filter-options",
              data: data_attributes do %>
  <%= render "govuk_publishing_components/components/accordion", {
    items: [
      {
        heading: {
          text: heading,
        },
        content: {
          html: (
            render "govuk_publishing_components/components/input", {
              label: {
                text: "Keyword",
                bold: true,
              },
              name: "keyword",
              type: "search",
              id: "keyword_filter",
              value: @filters.present? && @filters[:keyword],
            }
          ),
        },
        expanded: true,
      },
      {
        heading: {
          text: "Content block type",
        },
        content: {
          html: (
            render "govuk_publishing_components/components/checkboxes", {
              heading: "Content block type",
              visually_hide_heading: true,
              heading_size: "s",
              no_hint_text: true,
              id: "block_type",
              name: "block_type[]",
              items: items_for_block_type,
            }
          ),
        },
        expanded: true,
      },
      {
        heading: {
          text: "Lead organisation",
        },
        content: {
          html: (
            render "govuk_publishing_components/components/select_with_search", {
              id: "lead_organisation",
              name: "lead_organisation",
              label: "Lead organisation",
              include_blank: false,
              options: options_for_lead_organisation([@filters[:lead_organisation]]),
            }
          ),
        },
        expanded: true,
      },
      {
        heading: {
          text: "Last updated date",
        },
        content: {
          html: (
            render(Document::Index::DateFilterComponent.new(filters: @filters, errors: @errors))
          ),
        },
        expanded: true,
      },
    ],
  } %>

  <div class="govuk-button-group">
    <%= render "govuk_publishing_components/components/button", {
      text: "View results",
      margin_bottom: 4,
    } %>

    <%= link_to "Reset all fields",
                root_path(reset_fields: true),
                class: "govuk-link" %>
  </div>

<% end %>
