<% content_for :context, product_name %>
<% content_for :title, "Preview block" %>
<% content_for :back_link do %>
  <%= render "govuk_publishing_components/components/back_link", {
    href: request.referer,
  } %>
<% end %>

<% if @edition.has_entries_for_multiple_subschemas? %>
  <% content_for :title_side do %>
    <%= render "shared/reorder_link", edition: @edition %>
  <% end %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render "preview", edition: @edition %>
  </div>
</div>
