<div class="govuk-button-group govuk-!-margin-bottom-6">
  <div>
    <%= render "govuk_publishing_components/components/button", {
      text: button_text,
      name: "confirm",
      type: "submit",
      form: form_id,
      data_attributes: {
        "testid": "submit-button",
      },
    } %>
  </div>
  <div>
    <%= render Shared::CancelButtonComponent.new(edition) %>
  </div>
</div>
