<div class="app-c-content-block-manager-textarea-component">
  <% if field.govspeak_enabled? %>
    <%= render "components/govspeak_editor", {
                name:,
                id:,
                label: { text: label, hint_text:, hint_id: aria_described_by },
                value:,
                error_items: error_items,
                hint_id: aria_described_by,
                rows: 5,
                character_limit:,
    } %>
    <% if !character_limit %>
      <p class="govuk-body guidance govspeak-supported govuk-hint">
        <%= I18n.t("edition.hints.govspeak_enabled") %>
      </p>
    <% end %>
  <% else %>
    <%= render "govuk_publishing_components/components/textarea", {
                label: { text: label },
                name:,
                textarea_id: id,
                value:,
                error_items: error_items,
                hint: hint_text,
    } %>
  <% end %>
</div>
