<div class="app-c-content-block-manager-textarea-component">
  <% if field.govspeak_enabled? %>
    <%= render "components/govspeak_editor", {
                name:,
                id:,
                label: { text: label_element, hint_text:, hint_id: aria_described_by },
                value:,
                error_items: error_items,
                hint_id: aria_described_by,
                rows: 5,
    } %>
    <p class="govuk-body guidance govspeak-supported govuk-hint">
      Govspeak supported
    </p>
  <% else %>
    <%= render "govuk_publishing_components/components/textarea", {
                label: { text: label_element },
                name:,
                textarea_id: id,
                value:,
                error_items: error_items,
                hint: hint_text,
    } %>
  <% end %>
</div>
