<% content_for :context, context %>
<% content_for :title, page_title(step: "cancel") %>

<div class="govuk-button-group govuk-!-margin-bottom-6">
  <div>
    <%= render "govuk_publishing_components/components/button", {
      text: "Save for later",
      href: document_path(@edition.document),
    } %>
  </div>
  <div>
    <%= render(Shared::DeleteDraftComponent.new(edition: @edition)) %>
  </div>
</div>
