<% content_for :context, context %>
<% content_for :title, page_title %>
<% content_for :title_margin_bottom, 4 %>
<% content_for :back_link do %>
  <%= render "govuk_publishing_components/components/back_link", {
    href: back_path,
  } %>
<% end %>

<% content_for :error_summary, render(Shared::ErrorSummaryComponent.new(object: @edition)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with url: workflow_path(
      @edition,
      step: :change_note,
      ), method: :put, id: "change_note", data: data_attributes_for_forms_with_text_fields(edition: @edition) do %>

      <%= render "govuk_publishing_components/components/radio", {
        name: "edition[major_change]",
        hint: "<p class='govuk-body govuk-!-margin-bottom-2'>GOV.UK users can subscribe to email alerts and RSS feeds to receive public change notes. Telling users when published information has changed is important for transparency.</p><h2 class='govuk-heading-m govuk-!-margin-bottom-2'>Where change notes are published</h2><p class='govuk-body govuk-!-margin-bottom-2'> A change note is published on every page containing the content block and emailed to users. The 'last updated' date will change on the pages that display it.".html_safe,
id: "content_block_manager_edition_major_change",
        error_items: errors_for(@edition.errors, :major_change),
        items: [
          {
            value: "1",
            checked: @edition.major_change === true,
            text: "Yes - information has changed",
            bold: true,
            conditional: render("govuk_publishing_components/components/textarea", {
              label: {
                text: "Describe the edit for users",
                bold: true,
              },
              name: "edition[change_note]",
              id: "content_block_manager_edition_change_note",
              error_items: errors_for(@edition.errors, :change_note),
              value: @edition.change_note,
              hint: "Tell users what has been edited, where and why",
            }),
          },
          {
            value: "0",
            checked: @edition.major_change === false,
            text: "No, I made minor edits only",
            hint_text: "For example, fixing a typo or broken link",
            bold: true,
          },
        ],
      } %>
    <% end %>

    <%= render Shared::ContinueOrCancelButtonGroup.new(
      form_id: "change_note",
      edition: @edition,
      ) %>
  </div>
</div>
