<% content_for :context, context %>
<% content_for :title, page_title %>
<% content_for :title_margin_bottom, 4 %>
<% content_for :back_link do %>
  <%= render "govuk_publishing_components/components/back_link", {
    href: back_path,
  } %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with url: workflow_path(
      @edition,
      step: :internal_note,
      ), method: :put, id: "internal_note", **form_data_attributes do %>
      <%= render "govuk_publishing_components/components/textarea", {
        label: {
          text: '<p class="govuk-body">Explain what changes you did or did not make and why.</p>'.html_safe,
        },
        name: "edition[internal_change_note]",
        id: "content_block_manager_edition_title",
        value: @edition.internal_change_note,
      } %>
    <% end %>

    <%= render Shared::ContinueOrCancelButtonGroup.new(
      form_id: "internal_note",
      edition: @edition,
      ) %>
  </div>
</div>
