<div id="global-banner"
     class="gem-c-global-banner gem-c-global-banner--visible"
     title="Pre-release features enabled">
  <p class="gem-c-global-banner__message govuk-width-container">
    <span class="gem-c-global-banner__title">
      PRE-RELEASE FEATURES ENABLED
    </span>
  </p>
</div>
