<div id="preview_link_<%= edition.id %>">
  <%= render("govuk_publishing_components/components/button", {
    text: edition.has_multiple_subschema_entries? ? "Preview and reorder" : "Preview",
    secondary_quiet: true,
    title: "Preview block",
    href: preview_edition_path(edition),
    margin_bottom: false,
    data_attributes: {
      turbo_stream: true,
      turbo: true,
    },
  }) %>
</div>

<% if params[:preview] %>
  <script>
    // If the preview param is set, load the preview in the preview pane
    window.addEventListener('load', function () {
      fetch('<%= preview_edition_path(edition) %>', {
        headers: {
          Accept: "text/vnd.turbo-stream.html",
        },
      })
        .then(r => r.text())
        .then(html => Turbo.renderStreamMessage(html))
    })
  </script>
<% end %>
