<% content_for :page_title, "Preview content block in host document" %>
<% content_for :context, @context %>
<% content_for :title, @block.title %>

<% content_for :head do %>
  <%= javascript_include_tag "host-content-iframe" %>
<% end %>

<% content_for :header do %>
  <%= render(BlockPreview::DynamicPreviewHeader.new(
    block: @block,
    title: @title
    )) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= @preview_content.html.html_safe %>
  </div>
</div>
