<ul class="actions govuk-list govuk-!-text-align-centre">
  <% if document.most_recent_edition.state == "draft" %>
    <li>
      <%= render Shared::TransitionButtonComponent.new(
            edition: document.most_recent_edition,
            transition: :ready_for_2i,
      ) %>
    </li>
  <% end %>

  <li>
    <%= render "govuk_publishing_components/components/button", {
      text: "Edit #{document.block_type.humanize.downcase}",
      href: new_document_edition_path(document),
      secondary_solid: true,
      inline_layout: false,
    } %>
  </li>

  <% if document.most_recent_edition.is_deletable? %>
    <li class="govuk-!-margin-top-3">
      <%= link_to "Delete draft", delete_edition_path, class: "govuk-link govuk-link--no-visited-state gem-link--destructive" %>
    </li>
  <% end %>
</ul>
