<% content_for :title, "Time period edition" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= @edition.title %></h1>
    <p class="govuk-body">Edition created. Next step: add the date range.</p>
  </div>
</div>
