.app-c-govspeak-editor {
  margin-bottom: govuk-spacing(6);
}

.app-c-govspeak-editor__label-hint-wrapper {
  box-sizing: border-box;
  float: left;
}

.app-c-govspeak-editor__preview-button-wrapper {
  text-align: right;
  box-sizing: border-box;
  min-width: govuk-spacing(5);
  float: right;

  .govuk-button {
    margin-left: auto;
  }
}

.app-c-govspeak-editor__textarea--hidden {
  display: none;
}

.app-c-govspeak-editor__preview {
  border: 1px solid $govuk-border-colour;
  padding: govuk-spacing(4);
}

.app-c-govspeak-editor__preview,
.app-c-govspeak-editor__error,
.js-app-c-govspeak-editor__preview-button,
.js-app-c-govspeak-editor__back-button {
  display: none;
}

.app-c-govspeak-editor__preview--show,
.app-c-govspeak-editor__error--show,
.app-c-govspeak-editor__preview-button--show,
.app-c-govspeak-editor__back-button--show {
  display: block;
}
