.gem-c-copy-to-clipboard--primary {
  .govuk-button {
    background: #00703c;
    color: #ffffff;
    border: 2px solid rgba(0, 0, 0, 0);
    box-shadow: 0 2px 0 #002d18;
  }

  .govuk-button:link,
  .govuk-button:visited,
  .govuk-button:active,
  .govuk-button:hover {
    background: #005a30;
  }
}
