<%= form.hidden_field :object_type, value: @subschema.block_type %>

<%=
  render Edition::Details::EmbeddedObjects::FormComponent.new(
    edition: @edition,
    schema: @schema,
    subschema: @subschema,
    params: @object,
    object_title: @object_title,
    populate_with_defaults: is_new_record,
  )
%>

<div class="govuk-button-group govuk-!-margin-bottom-6">
  <%= render "govuk_publishing_components/components/button", {
    text: "Save and continue",
    name: "save_and_continue",
    value: "Save and continue",
    type: "submit",
  } %>

  <%= render(
        Edition::Details::EmbeddedObjects::CancelComponent.new(
          back_link: @back_link,
          redirect_url: @redirect_url,
        ),
      ) %>
</div>
