name: Check Markdown links

on:
  push:
    branches:
      - main
    paths:
      - "**/*.md"
      - "!.git**"
  pull_request:
    paths: ['**/*.md']
  schedule:
    - cron: "0 8 * * 1"

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Node
        uses: alphagov/govuk-infrastructure/.github/actions/setup-node@main

      - name: Run lint:markdown
        run: yarn run links:check
